@charset "utf-8";
/* CSS Document */



/* --------------------------------------------------------------------------Header */

.wrapper-header {
  border-top: 4px solid #093999;
}
.header-logo {
  float: right;
}
.header-logo2 {
	float: left;
	width: 180px;
	padding-top: 15px;
}
@media (max-width: 768px) {
  .header-logo {
    float: none;
  }
}
.main-logo {
  width: 100%;
  padding-top: 24px;
}
.main-logo-left{
  margin-left: 0px;
  padding-top: 24px;
  padding-left: 10px;
  width: 100%;
}

/* --------------------------------------------------------------------------Navigation */
.ivz-navi {
  padding-left: 0;
  margin-top: -45px;
}
.btn-primary{
  background-color: transparent;
  border: 1px solid #8F8F8F;
  border-radius: 0px;
  color: #8F8F8F;
  }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #093999;
    border-color: #8F8F8F;
}
@media screen and (max-width:680px) {
  ul.ivz-navi .list-inline > li :not(:first-child) {display: none;}
  ul.ivz-navi .li.icon {
    float: right;
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .ivz-navi .list-inline > li {
    padding-right: 0;
  }
}
.ivz {
  border-bottom: 6px solid #093999;
}